layout '/*', :haml, escape_attrs: false, escape_html: false

compile '/summaries/assets/stylesheets/*.sass' do
  filter :sass
end

compile '/summaries/*.md' do
  filter :kramdown, math_engine: 'itex2mml'
  layout '/default.haml'
end

compile '/summaries/assets/fonts/*.woff' do
  # no actions should be made
end

route '/summaries/assets/stylesheets/index.sass' do
  '/summaries/stylesheet.css'
end

route '/summaries/index.md' do
  '/summaries/index.html'
end

route '/summaries/*.md' do
  "#{item.identifier.without_ext}/index.html"
end

route '/summaries/assets/fonts/*.woff' do
  "/summaries/fonts/#{File.basename item.identifier}"
end

# vim: set filetype=ruby:
