layout '/*', :haml

compile '/summaries/*.sass' do
  filter :sass
end

compile '/summaries/index.md' do
  filter :kramdown
  layout '/default.haml'
end

compile '/summaries/*.md' do
  filter :kramdown
  layout '/summary.haml'
end

route '/summaries/*.sass' do
  "#{item.identifier.without_ext}.css"
end

route '/summaries/index.md' do
  '/summaries/index.html'
end

route '/summaries/*.md' do
  "#{item.identifier.without_ext}/index.html"
end

# vim: set filetype=ruby:
