body {
  font-family: sans-serif; }

h1 {
  font-size: 18pt; }

h2 {
  font-size: 14pt; }

a:link, a:visited {
  color: #0055d4;
  text-decoration: none;
  border-bottom: 0.0625rem solid #d5e5ff; }
a:hover, a:focus {
  color: #d40000;
  border-bottom-color: #ffd5d5;
  background-color: #ffffff; }

pre {
  border: 0.0625rem solid #000000;
  padding: 0.625rem; }
