@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: normal;
  src: url("/summaries/fonts/PlayfairDisplay-Regular.ttf"); }
@font-face {
  font-family: "Playfair Dispay";
  font-style: normal;
  font-weight: bold;
  src: url("/summaries/fonts/PlayfairDisplay-SemiBold.ttf"); }
@font-face {
  font-family: "Playfair Dispay";
  font-style: italic;
  font-weight: normal;
  src: url("/summaries/fonts/PlayfairDisplay-Italic.ttf"); }
@font-face {
  font-family: "Playfair Dispay";
  font-style: italic;
  font-weight: bold;
  src: url("/summaries/fonts/PlayfairDisplay-SemiBoldItalic.ttf"); }
@font-face {
  font-family: "Iosevka Slab";
  font-style: normal;
  font-weight: normal;
  src: url("/summaries/fonts/iosevka-slab-regular.ttf"); }
@font-face {
  font-family: "Iosevka Slab";
  font-style: normal;
  font-weight: bold;
  src: url("/summaries/fonts/iosevka-slab-bold.ttf"); }
html {
  font-size: 1em; }

body {
  margin: 0;
  padding: 0; }

header {
  background-color: #19408a;
  padding: 8px 0 8px 0; }
  header h1 {
    font-family: Playfair Display;
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: 2rem;
    margin: 0;
    color: white; }

main {
  margin: 1rem 2rem 2rem;
  font-family: Playfair Display; }
  main h1, main h2 {
    font-weight: bold; }
  main h1 {
    font-size: 1.3rem; }
  main h1:not(:first-child) {
    margin-top: 100px; }
  main h2 {
    font-size: 1.1rem; }
  main h2 {
    margin-top: 50px; }
  main p, main math {
    font-size: 1rem; }
  main p {
    max-width: 800px;
    hyphens: auto;
    text-align: justify; }
  main pre {
    overflow: scroll; }
  main code {
    font-family: Iosevka Slab;
    font-size: 1rem;
    line-height: 1.8rem; }
  main a:link, main a:visited {
    color: #0055d4;
    text-decoration: underline solid #d5e5ff; }
  main a:hover, main a:focus {
    color: #d40000;
    text-decoration: underline solid #ffd5d5; }
