
@font-face
  font-family: 'Playfair Display'
  font-style:  normal
  font-weight: normal
  src: url('/summaries/fonts/PlayfairDisplay-Regular.ttf')

@font-face
  font-family: 'Playfair Dispay'
  font-style:  normal
  font-weight: bold
  src: url('/summaries/fonts/PlayfairDisplay-SemiBold.ttf')

@font-face
  font-family: 'Playfair Dispay'
  font-style:  italic
  font-weight: normal
  src: url('/summaries/fonts/PlayfairDisplay-Italic.ttf')

@font-face
  font-family: 'Playfair Dispay'
  font-style:  italic
  font-weight: bold
  src: url('/summaries/fonts/PlayfairDisplay-SemiBoldItalic.ttf')

@font-face
  font-family: 'Iosevka Slab'
  font-style: normal
  font-weight: normal
  src: url('/summaries/fonts/iosevka-slab-regular.ttf')

@font-face
  font-family: 'Iosevka Slab'
  font-style: normal
  font-weight: bold
  src: url('/summaries/fonts/iosevka-slab-bold.ttf')

