
html
  font-size: 1em

body
  margin: 0
  padding: 0

header
  background-color: #19408a
  padding: 8px 0 8px 0

  h1
    font-family: Playfair Display
    font-size: 1.8rem
    font-weight: bold
    padding-left: 2rem
    margin: 0
    color: white

// footer
//   height: 200px

main
  margin: 1rem 2rem 2rem
  font-family: Playfair Display

  h1, h2
    font-weight: bold

  h1
    font-size: 1.3rem

  h1:not(:first-child)
    margin-top: 100px

  h2
    font-size: 1.1rem

  h2
    margin-top: 50px

  p, math
    font-size: 1rem

  p
    max-width: 800px
    hyphens: auto
    text-align: justify

  pre
    overflow: scroll

  code
    font-family: Iosevka Slab
    font-size: 1rem
    line-height: 1.8rem

  a
    &:link, &:visited
      color: #0055d4
      text-decoration: underline solid #d5e5ff

    &:hover, &:focus
      color: #d40000
      text-decoration: underline solid #ffd5d5

  ul
    list-style-type: none

  dt
    font-weight: bold

