%div{id: 'disqus_thread'}
  :javascript
    let disqus_shortname  = 'summaries-shamaoke'
    let disqus_identifier = '#{File.basename @item.identifier.without_ext, '*.'}'
    let disqus_url        = 'https://shamaoke.github.io#{@item.identifier.without_ext}/'


    let dsq = document.createElement('script')

        dsq.type  = 'text/javascript'
        dsq.async = true
        dsq.src   = `https://${disqus_shortname}.disqus.com/embed.js`

    document.getElementsByTagName('head')[0].appendChild(dsq)
