!!!5
%html{lang: 'ru'}
  %head
    %meta{charset: 'utf-8'}
    %link{rel: 'stylesheet', href: '/summaries/stylesheet.css'}
    %title= @item[:title]
  %body
    %header
      %h1= @item[:title]
    %main
      ~ yield
      -# ~ render '/_disqus.haml' unless @item[:title].eql? 'Summaries'
    %footer
